---
import './hero.css';
import Arrow from 'public/icons/arrowDown.svg';
---

<section id="hero" class="hero-section">
  <div class="hero-bg-wrapper hero-bg"></div>
  <div class="hero-overlay"></div>

  <div class="hero-content">
    <div data-aos="fade-left" class="hero-subtitle">
      ПОИСК И ПОКУПКА АВТО ИЗ ЕВРОПЫ В РФ ПОД КЛЮЧ
    </div>

    <h1 data-aos="fade-up" class="hero-title">
      Привезем ваш идеальный<br />
      автомобиль — без переплат<br />
      и хлопот
    </h1>

    <p data-aos="fade-up" data-aos-delay="150" class="hero-description">
      Мы поможем подобрать, проверить и привезти автомобиль из Европы. Полный цикл услуг — от поиска
      до постановки на учёт. Прозрачно, быстро и с гарантией качества.
    </p>

    <div data-aos="fade-up" data-aos-delay="250" class="hero-cta-wrapper">
      <a data-open-lead class="button-hero">
        Подобрать авто
      </a>
    </div>
  </div>

  <div class="hero-bottom-v">
    <svg
      role="presentation"
      class="v-path"
      style="height: 8vw; fill: #ffffff;"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1280 200"
      preserveAspectRatio="none"
    >
      <path d="M640 195.5 L0 0 v200 h1280 V0 z"></path>
    </svg>

    <a href="#stats" class="arrow-bounce">
      <Arrow />
    </a>
  </div>
</section>
