.reviews-section {
  @apply bg-white  md:py-8;
}



.reviews-title {
  @apply text-3xl md:text-4xl font-semibold text-center mb-10 md:mb-14;
}

/* Обгортка слайдера */
.reviews-slider {
  @apply relative mt-4 md:pt-8;
}

/* Горизонтальный контейнер */
.reviews-track {
  @apply flex gap-12 overflow-x-auto scroll-smooth py-12 pb-16 w-full px-4;
}

/* Скрыть скроллбар */
.reviews-track::-webkit-scrollbar {
  display: none;
}
.reviews-track {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Одна карточка c картинкой */
.review-image-card {
  @apply flex-shrink-0  w-[320px]  lg:w-[420px]
    rounded-[32px] overflow-hidden shadow-[0_20px_40px_rgba(0,0,0,0.25)];
}

.review-image {
  @apply w-full h-full object-cover;
}

/* Стрелки (только на десктопе) */
.reviews-arrows {
  @apply hidden md:flex items-center gap-3 absolute top-0 right-20 z-10 pointer-events-none;
}

.reviews-arrow-btn {
  @apply w-16 h-16 rounded-2xl text-5xl  flex items-center justify-center cursor-pointer
    text-gray-800 hover:text-red-600 transition-colors pointer-events-auto;
}
