---
import './header.css';
import TgIcon from 'public/icons/telegram.svg';

import Logo from '../../public/images/logo.png';
import { Image } from 'astro:assets';
---

<header id="site-header">
  <div class="header-container">
    <Image class="header-logo" data-aos="fade-down" src={Logo} alt="Auto Arrivals" loading="lazy" />

    <nav class="header-nav">
      <a href="#services" class="nav-link">Услуги</a>
      <a href="#benefits" class="nav-link">Преимущества</a>
      <a href="#steps" class="nav-link">Как мы работаем</a>
      <a href="#faq" class="nav-link">FAQ</a>
      <a href="#contacts" class="nav-link">Контакты</a>
    </nav>

    <div class="header-tg-wrapper">
      <a
        href="https://t.me/arctic_auto_trade_bot"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Написать в Telegram"
      >
        <TgIcon class="header-tg-icon" />
      </a>
    </div>

    <button aria-label="Открыть меню" id="mobile-menu-btn" class="burger">
      <span></span><span></span><span></span>
    </button>
  </div>

  <div id="mobile-menu" class="mobile-menu hidden">
    <nav class="mobile-nav">
      <a href="#services" class="mobile-link">Услуги</a>
      <a href="#benefits" class="mobile-link">Преимущества</a>
      <a href="#steps" class="mobile-link">Как мы работаем</a>
      <a href="#faq" class="mobile-link">FAQ</a>
      <a href="#contacts" class="mobile-link">Контакты</a>

      <a
        href="https://t.me/arctic_auto_trade_bot"
        class="mobile-tg"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Написать в Telegram"
      >
        <TgIcon class="mobile-tg-icon" />
      </a>
    </nav>
  </div>
</header>

<script>
  import { initHeaderScrollEffect, initHeaderMenu } from './header.js';
  initHeaderScrollEffect();
  initHeaderMenu();
</script>
