---
import './footer.css';
import TgIcon from 'public/icons/telegram.svg';
---

<footer class="footer">
  <a
    href="https://t.me/arctic_auto_trade_bot"
    target="_blank"
    rel="noopener noreferrer"
    class="footer-tg-btn"
    aria-label="Написать в Telegram"
  >
    <TgIcon class="footer-tg-icon" />
  </a>

  <div class="footer-text">
    <p>Наши адреса: г.Владикавказ<br />ул. Ватутина 58 оф.3.</p>
    <p>Московская область, г Химки, Спартаковская ул, д. 11, ком./помещ. 2/41</p>

    <p class="mt-1">
      <a href="/policy" class="footer-link">Политика конфиденциальности</a>
    </p>

    <p class="mt-1">© AutoArrivals. Все права защищены.</p>
  </div>

  <a href="#hero" class="footer-top"> Вернуться наверх ↑ </a>
</footer>
