

.phone-input,
.iti,
.iti__input {
  width: 100%;
}

.iti {
  display: block;
}

.iti__tel-input {
  border: none;
  height: 100%;
}

.iti__selected-country {
  outline: none;
  --iti-hover-color: white;
}

.iti__selected-country-flag {
  margin-right: 0.5rem;
}

.iti__country-list {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  max-height: 200px;
}

.iti__country {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
}

.iti__country:hover {
  background: #f3f4f6;
}

.iti__country.iti__highlight {
  background: #e5e7eb;
}

.iti__search-input {
  height: 3rem;
  outline: none !important;
}


.contacts-form .iti,
.lead-modal-form .iti {
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.contacts-form .iti.error,
.lead-modal-form .iti.error {
  border-color: #ef4444;
}

.contacts-form .iti__input,
.lead-modal-form .iti__input {
  outline: none;
}

.contacts-form .iti__selected-dial-code,
.lead-modal-form .iti__selected-dial-code {
  font-size: 0.875rem;
}

.contacts-form .iti__selected-country,
.lead-modal-form .iti__selected-country {
  padding-left: 0.75rem;
}

@media (min-width: 768px) {
  .contacts-form .iti__selected-dial-code,
  .lead-modal-form .iti__selected-dial-code {
    font-size: 1rem;
  }

  .contacts-form .iti__selected-country,
  .lead-modal-form .iti__selected-country {
    padding-left: 1rem;
  }
}


.contacts-form .iti {
  border-radius: 0.5rem;
  background: white;
}

.contacts-form .iti:focus-within {
  border-color: #ff7a00;
}

.contacts-form .iti__tel-input,
.contacts-form .iti__input {
  background: white;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
}

.contacts-form .iti__input {
  color: black;
}

.contacts-form .iti__selected-dial-code {
  color: black;
}

@media (min-width: 768px) {
  .contacts-form .iti {
    border-radius: 0.75rem;
  }

  .contacts-form .iti__tel-input,
  .contacts-form .iti__input {
    border-radius: 0.75rem;
    padding: 1rem 1.25rem;
    font-size: 1rem;
  }
}



.lead-modal-form .iti {
  height: 51px;
  border-radius: 0.75rem;
  background: #dedede;
}

.lead-modal-form .iti:focus-within {
  border-color: black;
}

.lead-modal-form .iti__tel-input,
.lead-modal-form .iti__input {
  background: transparent;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
}

.lead-modal-form .iti__input {
  color: black;
}

.lead-modal-form .iti__input::placeholder {
  color: rgba(40, 48, 61, 0.72);
}

.lead-modal-form .iti__selected-dial-code {
  color: #374151;
}

.lead-modal-form .iti__selected-country {
  --iti-hover-color: none;
}

@media (min-width: 768px) {
  .lead-modal-form .iti {
    border-radius: 0.75rem;
  }

  .lead-modal-form .iti__tel-input,
  .lead-modal-form .iti__input {
    border-radius: 0.75rem;
    padding: 1rem 1.25rem;
    font-size: 1rem;
  }
}
