.benefits-section {
  background: #f4f4f4;
  padding-top: 5rem;
}

.benefits-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .benefits-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.benefits-wrap {
  background: white;
  padding: 2.5rem 5rem;
}

@media (max-width: 767px) {
  .benefits-wrap {
  padding: 2.5rem 2rem;
    padding-top: 4rem;
    margin-top: -1.5rem;
  }
}

@media (min-width: 768px) {
  .benefits-wrap {
    margin-left: -2rem;
    padding-left: 7rem;
  }
}

.benefits-image-wrapper {
  display: flex;
  z-index: 10;
  min-height: 300px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  max-width: 100vw;
  background: url('../../public/images/euro-car.png') center/contain no-repeat, #333333;
}

@media (min-width: 768px) {
  .benefits-image-wrapper {
    border-top-left-radius: 0;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
  }
}

.benefits-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.benefits-title {
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .benefits-title {
    font-size: 2.25rem;
  }
}

.benefits-paragraph {
  font-size: 1rem;
  color: #333;
  line-height: 1.625;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .benefits-paragraph {
    font-size: 1.125rem;
  }
}

.benefits-list {
  margin-top: 1rem;
}

.benefits-list-item {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: #333;
  margin-bottom: 0.75rem;
}

@media (min-width: 768px) {
  .benefits-list-item {
    font-size: 1rem;
  }
}

.benefits-list-icon {
  margin-top: 2px;
}

#benefits .button-hero {
  position: relative;
  z-index: 10;
  display: inline-block;
  padding: 14px 44px;
  border: 1px solid black;
  margin-top: 3.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  border-radius: 9999px;
  font-size: 1rem;
  font-weight: 400;
  color: black;
  background: white;
  transition: color 0.3s, background-color 0.3s;
}

#benefits .button-hero:hover {
  color: white;
  background: black;
}
